*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #202020;
  --secondary-color: #303030;
  --primary-contrast-color: snow;
  --secondary-contrast-color: whitesmoke;
  --primary-accent-color: steelblue;
  --secondary-accent-color: darkslategrey;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-contrast-color);
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: snow;
    --secondary-color: antiquewhite;
    --primary-contrast-color: #303030;
    --secondary-contrast-color: #202020;
    --primary-accent-color: darkslategrey;
    --secondary-accent-color: steelblue;
    color-scheme: dark;
  }
}
