.grid-template {
  display: grid;
}

.grid-template-columns {
  grid-template-columns: repeat(var(--repeat-columns, auto-fill), minmax(var(--minmax-min-columns, 15rem), var(--minmax-max-columns, 1fr)));
}

.grid-template-rows {
  grid-template-rows: repeat(var(--repeat-rows, auto-fill), minmax(var(--minmax-min-rows, 15rem), var(--minmax-max-rows, 1fr)));
}